.App {
  max-width: 800px;
  margin: auto;
  font-family: "Fjalla One", sans-serif;
}

h1 {
  padding-left: 1rem;
}

h3,
p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .App {
    text-align: center;
  }
}
